<div class="modal fade" id="reviews-modal" tabindex="-1" role="dialog" aria-labelledby="reviews-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="categoryModalLabel">Reviews</h4>
      </div>
      <div class="modal-body">
        <% reviews.each do |review| %>
          <h4>Rating: <%= review.review_rating %> / 10</h4>
          <p><%= review.review_content %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>